USE [master]
GO
/****** Object:  Database [ROE_DB_DEV]    Script Date: 04-03-2026 10:28:37 ******/
CREATE DATABASE [ROE_DB_DEV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ROE_DB_DEV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ROE_DB_DEV.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ROE_DB_DEV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ROE_DB_DEV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ROE_DB_DEV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ROE_DB_DEV]
GO
/****** Object:  User [roe_sql_dev_admin]    Script Date: 04-03-2026 10:28:38 ******/
CREATE USER [roe_sql_dev_admin] FOR LOGIN [roe_sql_dev_admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [roe_sql_dev_admin]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 04-03-2026 10:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[PK_CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerGUID] [varchar](50) NULL,
	[FirstName] [varchar](256) NULL,
	[LastName] [varchar](256) NULL,
	[Email] [varchar](256) NULL,
	[Mobile] [varchar](15) NULL,
	[ROName] [varchar](512) NULL,
	[RODescription] [varchar](1024) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[ModifiedAt] [datetime] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[PK_CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Role]    Script Date: 04-03-2026 10:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Role](
	[PK_RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleGUID] [varchar](50) NULL,
	[RoleName] [varchar](30) NULL,
	[CreatedAt] [datetime] NULL,
	[ModifiedAt] [datetime] NULL,
 CONSTRAINT [PK_Product_Role] PRIMARY KEY CLUSTERED 
(
	[PK_RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04-03-2026 10:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[PK_UserId] [int] IDENTITY(1,1) NOT NULL,
	[FK_CustomerId] [int] NULL,
	[FK_RoleId] [int] NULL,
	[UserGUID] [varchar](50) NULL,
	[FirstName] [varchar](256) NULL,
	[LastName] [varchar](256) NULL,
	[Email] [varchar](256) NULL,
	[Mobile] [varchar](15) NULL,
	[UserName] [varchar](256) NULL,
	[Password] [varchar](512) NULL,
	[IsActive] [bit] NULL,
	[IsAdminApproval] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[ModifiedAt] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[PK_UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([PK_CustomerId], [CustomerGUID], [FirstName], [LastName], [Email], [Mobile], [ROName], [RODescription], [IsActive], [IsDeleted], [CreatedAt], [ModifiedAt]) VALUES (2, N'roe_c_374F5DA5-74F8-46A5-9D93-9306981397E6', N'Kiran', N'Kanzariya', N'kanzariyakiran123@gmail.com', N'9033113062', N'Akash Water Supply', N'Akash Water Supply', 1, 0, CAST(N'2025-06-14T14:52:20.430' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_Role] ON 

INSERT [dbo].[Product_Role] ([PK_RoleId], [RoleGUID], [RoleName], [CreatedAt], [ModifiedAt]) VALUES (1, N'roe-s-905A8BDE-36B0-4B01-9122-FD84660B6363', N'Super Admin', CAST(N'2025-06-02T11:21:01.517' AS DateTime), NULL)
INSERT [dbo].[Product_Role] ([PK_RoleId], [RoleGUID], [RoleName], [CreatedAt], [ModifiedAt]) VALUES (2, N'roe-a-65F610D7-E583-4780-9966-64CDC28921F9', N'Admin', CAST(N'2025-06-02T11:21:01.517' AS DateTime), NULL)
INSERT [dbo].[Product_Role] ([PK_RoleId], [RoleGUID], [RoleName], [CreatedAt], [ModifiedAt]) VALUES (3, N'roe-u-344C6D0F-1610-4464-A8CB-40F61C1C6405', N'User', CAST(N'2025-06-22T10:31:37.973' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Product_Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([PK_UserId], [FK_CustomerId], [FK_RoleId], [UserGUID], [FirstName], [LastName], [Email], [Mobile], [UserName], [Password], [IsActive], [IsAdminApproval], [IsDeleted], [CreatedAt], [ModifiedAt]) VALUES (1, 2, 1, N'roe_u_F830D1BB-71CD-4E82-B9E6-18753015E411', N'Kiran', N'Kanzariya', N'kanzariyakiran123@gmail.com', N'9033113062', N'Kiran.Kanzariya@ROE', N'Kiran.Kanzariya@123', 1, 1, 0, CAST(N'2025-06-14T14:55:32.357' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_User_Customer] FOREIGN KEY([FK_CustomerId])
REFERENCES [dbo].[Customers] ([PK_CustomerId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_User_Customer]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_User_Product_Role] FOREIGN KEY([FK_RoleId])
REFERENCES [dbo].[Product_Role] ([PK_RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_User_Product_Role]
GO
/****** Object:  StoredProcedure [dbo].[AuthenticateUser]    Script Date: 04-03-2026 10:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AuthenticateUser] 
	@userName VARCHAR(256),
	@password VARCHAR(512),
	@ReturnCode NVARCHAR(20) OUTPUT
AS
BEGIN
	SET @ReturnCode = 'C200';
	IF(ISNULL(@userName, '') <> '' AND ISNULL(@password, '') <> '')
	BEGIN
		IF EXISTS (SELECT PK_UserId FROM Users WITH(NOLOCK) WHERE UserName = @userName AND [Password] = @password)
		BEGIN
			IF EXISTS (SELECT PK_UserId FROM Users WITH(NOLOCK) WHERE UserName = @userName AND [Password] = @password AND ISNULL(IsActive, 0) = 1)
			BEGIN
				IF EXISTS (SELECT PK_UserId FROM Users WITH(NOLOCK) WHERE UserName = @userName AND [Password] = @password AND ISNULL(IsActive, 0) = 1 AND ISNULL(IsAdminApproval, 0) = 1)
				BEGIN
					SELECT * 
					FROM Users WITH(NOLOCK) 
					WHERE UserName = @userName AND [Password] = @password
					
					SET @ReturnCode = 'C200';
				END
				ELSE
				BEGIN
					SET @ReturnCode = 'C403';
				END
			END
			ELSE
			BEGIN
				SET @ReturnCode = 'C402';
			END
		END
		ELSE
		BEGIN
			SET @ReturnCode = 'C401';
		END
	END
	ELSE
	BEGIN
		SET @ReturnCode = 'C401';
	END
END
GO
/****** Object:  StoredProcedure [dbo].[FetchAllUsers]    Script Date: 04-03-2026 10:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FetchAllUsers]
	@customerId INT
AS
BEGIN
	IF(ISNULL(@customerId, 0) <> 0)
	BEGIN
		SELECT * 
		FROM Users WITH(NOLOCK) 
		WHERE FK_CustomerId = @customerId
	END
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserByUserName]    Script Date: 04-03-2026 10:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetUserByUserName] 
	@userName VARCHAR(256)
AS
BEGIN
	IF(ISNULL(@userName, '') <> '')
	BEGIN
		SELECT u.PK_UserId,
				u.FK_CustomerId,
				u.FK_RoleId,
				u.UserGUID,
				u.FirstName,
				u.LastName,
				u.Email,
				u.Mobile,
				u.UserName,
				pr.PK_RoleId,
				pr.RoleGUID,
				pr.RoleName,
				c.ROName,
				c.RODescription
		FROM Users u
		INNER JOIN Product_Role pr ON u.FK_RoleId = pr.PK_RoleId
		INNER JOIN Customers c ON u.FK_CustomerId = c.PK_CustomerId
		WHERE u.UserName = @userName
	END
END
GO
USE [master]
GO
